<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Animals App</title>
</head>

<body>
    <main>
        <div class="container">

            <h1>Create a New Animal</h1>

            <form action="/animals/<%= animal._id %>?_method=PUT" method="post">
                Name: <input type="text" name="name" value="<%= animal.name %>"></br>
                Is the animal extinct? <input type="checkbox" <%=animal.extinct ? "checked"
                : "" %>></br>
                Image: <input type="text" name="image" value="<%= animal.image %>"></br>
                Species: <input type="text" name="species" value="<%= animal.species %>"></br>
                Location: <input type="text" name="location" value="<%= animal.location %>"></br>
                Life Expectancy: <input type="number" name="lifeExpectancy" value="<%= animal.lifeExpectancy %>"></br>

                <input type="submit" value="Create an New Animal">
            </form>

        </div>
    </main>
</body>

</html>