<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Animals App</title>
</head>

<body>
    <main>
        <div class="container">

            <article>
                <h2>
                    <%= animal.name %> - <%= animal.extinct ? "Extinct" : "Not Extinct" %>
                </h2>
                <img src="<%= animal.image %>" alt="" style="width:300px; height:100%; border:0">
                <h4>
                    Species: <%= animal.species %></br>
                        Location: <%= animal.location %></br>
                            Life Expectancy: <%= animal.lifeExpectancy %>
                </h4>

                <a href="/animals/"><button>Back to Main Animals Page</button></a>
            </article>

        </div>
    </main>
</body>

</html>